<!-- Footer -->
<footer class="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-6 footer-content">
                <img src="logo/主标志-白红.png" alt="Netverse Logo" class="logo mb-3">
                <p data-i18n="footer_description">网境智能（Netverse Intelligence）专注于通过创新技术开发自适应机器人和具身智能（Embodied AI）解决方案，例如采用"大脑-小脑"分离架构，将多模态大模型（用于高级决策）与实时运动控制系统解耦。
                网境智能通过优先采用成本效益高的硬件（比传统解决方案便宜 90%），并分阶段实现商业化（从零部件到完整的行业解决方案），目标是推动工业自动化升级（例如制造业、物流）和万亿级通用服务市场（例如医疗保健、零售）。其核心价值在于通过平衡短期投资回报（例如 8 个月回本）与长期生态系统壁垒（例如开发者社区、多机器人协作系统），加速具身智能的普及。
</p>
                <button class="btn btn-outline-light" data-i18n="see_more">愿闻其详</button>
            </div>
            <div class="col-md-6 footer-info">
                <p><img src="logo/辅助图形.png" alt="Graphic" class="img"></p>

                <p data-i18n="office_opening_hours">办公/休息时间</p>
                <p data-i18n="mon_fri">周一至周五: 09:00 am - 12:00 pm / 13:30 pm - 18:30 pm</p>
                <p data-i18n="sat_sun">周六 & 周日: 休息</p>
                <p data-i18n="holidays">假日情况: 所有公众假日</p>
            </div>
        </div>
        <!-- Mailchimp Form -->
        <div class="subscribe">
            <p data-i18n="subscribe_now">现在，是时候订阅我们了吧：）</p>
            <form action="https://netverseai.us10.list-manage.com/subscribe/post?u=0ec44745bae6469b2fe7143a2&amp;id=7f4fe1b4e5&amp;f_id=00cd56e4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div class="mc-field-group">
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" data-i18n-placeholder="enter_email" placeholder="轻松输入邮箱地址 Enter your e-mail">
                    <!-- <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="订阅 Subscribe"> -->
                </div>
                <div hidden><input type="hidden" name="tags" value="14567300"></div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_0ec44745bae6469b2fe7143a2_7f4fe1b4e5" tabindex="-1" value="">
                </div>
            </form>
            <p data-i18n="privacy_notice">请安心，保护好您的个人隐私是我们应有的教养：）</p>
        </div>
    </div>
</footer>

<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-12 copyright">
                <!-- Copyright -->
                <p data-i18n="copyright">Copyright©2025 网境智能（深圳）有限公司</p>
            </div>
            <div class="col-xl-7 col-md-12 copyright">
                <p>
                    <!-- ICP 备案号 -->
                    <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2025425599号-1</a>
                    
                    <!-- 公安 备案号 -->
                    <img style="margin-left: 20px;" src="icon/beian.png" />
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502009007"
                        target="_blank">粤公网安备 44030502009007号</a>
                </p>
            </div>
        </div>
    </div>
</div>