<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html#home" >
            <img src="logo/主标志-黑红.png" alt="Netverse Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="index.html#home" data-i18n="home">首页</a></li>
                <li class="nav-item"><a class="nav-link" href="gripper-i.html" data-i18n="product">产品</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#contact" data-i18n="contact">联系我们</a></li>
                <li class="nav-item dropdown">
                    <button class="btn btn-outline-secondary btn-language-toggle dropdown-toggle" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="current-lang">简体中文</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#" data-lang="zh-cn">简体中文</a></li>
                        <li><a class="dropdown-item" href="#" data-lang="zh-tw">繁體中文</a></li>
                        <li><a class="dropdown-item" href="#" data-lang="en">English</a></li>
                        <li><a class="dropdown-item" href="#" data-lang="ja">日本語</a></li>
                        <li><a class="dropdown-item" href="#" data-lang="de">Deutsch</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>